<h1>Profile of user <strong><%= @user.name %></strong></h1>
<div>
  <h2>User since</h2>
  <p><%= @user.created_at.to_formatted_s :long %></p>
</div>
<div>
  <h2>Bio</h2>
  <p><%= @user.bio %></p>
</div>

<% unless @public_user %>
    <div>
      <h2>Administrated groups:</h2>
      <ul>
        <% @groups_admin.each do |group| %>
            <li><%= link_to group.name, group %></li>
        <% end %>
      </ul>
    </div>
<% end %>
<div>
  <h2>All groups</h2>
  <ul>
    <% @user.groups.each do |group| %>
        <li><%= link_to group.name, group %></li>
    <% end %>
  </ul>
</div>